header {
    background-image: url("cdo.png");
    background-color: hsl(195, 29%, 95%);
    color: #e0e8f0;
    text-align: center;
    font-size: 25px;
    padding: 100px;
}

main {
    background-image: url("arvin.jpg");
    background-position:right center;
background-size: auto;
    background-color: rgb(10, 10, 10);
    font-size: 30px;
    padding: 50px;
    color:hsl(0, 24%, 96%)
}

footer {
    background-color: hsl(195, 7%, 11%);
    color: #fff;
    text-align: center;
    font-size: larger;
    padding: 10px;
}

/* Responsive design using media queries */
@media screen and (max-width: 600px) {
    header, footer {
        font-size: 18px;
    
    }
}
body {
    background-image: url("arvin.jpg");
  }